environment:
  matrix:
  - julia_version: 1.1

platform:
  - x86 # 32-bit
  - x64 # 64-bit

branches:
  only:
    - master

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false

install:
  - ps: iex ((new-object net.webclient).DownloadString("https://raw.githubusercontent.com/JuliaCI/Appveyor.jl/version-1/bin/install.ps1"))

build_script:
  - echo "%JL_BUILD_SCRIPT%"
  - C:\julia\bin\julia -e "%JL_BUILD_SCRIPT%"
  - C:\julia\bin\julia -e "using Pkg; Pkg.instantiate();
                           Pkg.add("""Conda"""); using Conda;
                           Conda.add("""matplotlib"""); Conda.add("""cartopy""")"
  - C:\julia\bin\julia -e "using Pkg; Pkg.instantiate();
                           Pkg.add("""PyCall"""); ENV["""PYTHON"""]=""""""; Pkg.build("""PyCall""")"

test_script:
  - echo "%JL_TEST_SCRIPT%"
  - C:\julia\bin\julia -e "%JL_TEST_SCRIPT%"

